<p>
  Olá!
  <br>
  Para cadastrar uma nova senha visite o link abaixo:
</p>
<%= link_to @token, reset_password_url(token: @token) %>
<p>
  <strong>Se você não solicitou uma nova senha desconsidere este email.</strong>
</p>
